@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    color: rgb(30,30,30);
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-image: url(table.jpg);
    background-position: top right;
    padding: 0.5rem 1.3rem;
    align-items: center;
}
.title svg{
    width: 2rem;
    height: 2rem;
}
.title{
    font-weight: 500;
}
.navtoggle{
    display: none;
}
.navmenu {
    display: flex;
    font-size: 1.2rem;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.navsel {
    padding: 0.5rem 1rem;
}



.frontpage{
    padding: 10rem;
    font-size: 2rem;
    background-image: url('table.jpg');
    background-size: cover;
    background-position: bottom right;
}
.frontpage h3{
    font-size: 4rem;
    margin-bottom: 4rem;
}
.frontpage p{
    padding-right: 20rem;
}
.frontpage a{
    color: royalblue;
}
.frontpage a:hover{
    text-decoration: underline;
}


footer{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: silver;
}



@media (max-width:1000px) {
    .navtoggle{
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 1.7rem;
        font-size: 2rem;
    }
    .title{
        padding-right: 3rem;
    }
    #navbar{
        flex-direction: column;
        align-items: baseline;
    }
    .navmenu{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navmenu.active{
        display: flex;
    }
    .frontpage{
        padding: 10rem 5rem 15rem 5rem;
        font-size: 1.5rem;
    }
    .frontpage h3{
        font-size: 2rem;
    }
    .frontpage p{
        padding-right: 5rem;
    }
}
@media (max-width:700px) {
    .frontpage{
        padding: 12rem 1rem 20rem 1rem;
    }
    .frontpage p{
        padding-right: 1rem;
    }
}